.card-hover-primary {
  &:hover {
    border: 1px solid var(--brand-accent);
  }
  transition: border 150ms ease-out;
}

.btn-outline-brand {
  border: 2px solid var(--brand-accent);
  color: var(--brand-primary);

  &:hover {
    background-color: rgba(248, 124, 86, 0.07);
  }
}

.brand-link {
  color: var(--brand-primary) !important;

  &:hover {
    color: var(--brand-primary-light) !important;
    text-decoration: underline !important;
  }
}
